<header class="site-header">

  <div class="wrapper">

    <a href="{{site.basurl}}/index.html"><h1 id="blog-title">Becca Nelson</h1></a>

    <ul class="social-icons blog-social-icons">
      <li><a href="http://www.twitter.com/beccaliz"><img src="{{site.baseurl}}/images/twitter-icon.png" alt="Twitter"></a></li>
      <li><a href="https://www.facebook.com/beccanelson88"><img src="{{site.baseurl}}/images/facebook-icon.png" alt="Facebook"></a></li>
      <li><a href="http://www.instagram.com/beccawonders"><img src="{{site.baseurl}}/images/instagram-icon.png" alt="Instagram"></a></li>
      <li><a href="http://www.github.com/beccanelson"><img src="{{site.baseurl}}/images/GitHub-icon.png" alt="GitHub"></a></li>
    </ul>

    {% include navigation.html %}

  </div>

</header>
