.main {
	max-width: 85%;
}

h1 {
	font-family: Rancho, cursive;
	color: #36D7B7 !important;
	font-size: 5em;
}

h2 {
	color: #1F3A93 !important;
	text-align: center;
	font-size: 2.2em;
}

h3 {
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	font-size: 1.5em;
	text-decoration: underline;
}

a:hover {
	color: white;
}

img {
	cursor: pointer;
}

#col-1 {
	float: left;
	width: 50%;
}

#col-2 {
	float: right;
	width: 50%;
}

#col-1 div, #col-2 div {
	margin: 10px;
	/*background-color: #EEEEEE;*/
}

.icon {
	text-align: center;
}

.icon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.icon:hover {
	opacity: .6;
}

.arrow {
	margin-top: -50px;
	position: relative;
}

section {
	margin-bottom: 60px;
}

footer {
	clear: both;
}

.text {
	background-color: #EEEEEE;
	padding: 10px;
	margin: 20px;
	border-radius: 10px;
}

code.tag {
	color: white;
	background-color: #36D7B7;
	padding: 6px 10px;
	margin: 5px;
	border-radius: 5px;
	line-height: 40px;
}

.hljs {
  background: none !important;
}

@media screen and (max-width: 800px) {
	#col-1 {
		float: none;
		width: 100%;
	}
	#col-2 {
		float: none;
		width: 100%;
	}
}


