.c-origami {
  width: 40%;
  padding: 2rem;
}

.c-origami--butterfly {
  path {
    stroke: $color-background;
    stroke-width: 2px;
  }
}

.right-wing,
.left-wing {
  fill: $color-primary;
}

.body {
  fill: darken($color-primary, 10%);
}

.right-back-wing,
.left-back-wing {
  fill: lighten($color-primary, 10%);
}
