.c-links {
  display: flex;
  width: 100%;
  align-items: center;


  [class^="c-link"] {
    padding: $spacing-x-small;

    path, polygon {
      fill: $color-secondary;
      transition: all $duration-slide ease;
    }

    &:hover {
      path, polygon {
        fill: $color-secondary-hover;
      }
    }
  }
}