h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-small;
}

html {
  font-family: $font-family;
  line-height: $line-height-text;
}

h1 {
  color: $color-black-secondary;
  font-size: $font-size-heading-x-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

h2 {
  color: $color-black;
  font-size: $font-size-heading-large;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

h3 {
  color: $color-black;
  font-size: $font-size-heading-medium;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

h4 {
  color: $color-black;
  font-size: $font-size-heading-small;
  font-weight: $font-weight-bold;
  line-height: $line-height-heading;
}

p {
  color: $color-black;
  font-size: $font-size-text-large;
}

small {
  color: $color-black-secondary;
  font-size: $font-size-heading-x-small;
}

a {
  font-size: $font-size-text-x-large;
}
