---
layout: default  
---
<div class="post">

  <header class="post-header">
  	<div class="date">{{ page.date | date: "%b %-d" }}</div>
    <h2 class="post-title">{{ page.title }}</h2>
    <h4 class="description">{{ page.description }}</h4>
   <!--  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  {% include related-posts.html %}
  {% include svg-icons.html %}
  {% include share.html %}
  {% include comments.html %}
</div>
